@import "tailwindcss";

@source "../../shared/**/*.{tsx,ts,jsx,js}";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #059669;
  --color-accent: #dc2626;
  --font-sans: Inter, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter', sans-serif;
}
