apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  namespace: {{ .Values.deployment.namespace }}
  labels:
    app: {{ .Values.service.name }}
{{- if .Values.prometheus.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.prometheus.port | quote }}
    prometheus.io/path: {{ .Values.prometheus.path | quote }}
{{- end }}
spec:
  type: {{ .Values.serviceType }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.containerPort }}
{{- if and (eq .Values.serviceType "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
{{- end }}
      protocol: TCP
      name: http
  selector:
    app: {{ .Values.service.name }}

