openapi: 3.1.0
info:
  title: RERP Accounting Backend for Frontend API
  description: 'Backend for Frontend (BFF) API for the Accounting Suite.

    This aggregates and proxies requests to RERP microservices.

    This is the single entry point for the frontend application.


    All requests are proxied to the appropriate microservice.

    This spec is automatically generated - do not edit manually.


    **Generation**: bff-generator (standalone). Service discovery from openapi/accounting/.

    '
  version: 1.0.0
  contact:
    name: RERP API Support
    email: api-support@rerp.ai
servers:
- url: https://api.rerp.ai
  description: Production server
- url: http://localhost:8010
  description: Local development server (BFF)
tags:
- name: accounts
- name: aging
- name: approvals
- name: assets
- name: balance-sheet
- name: bank-accounts
- name: budget-lines
- name: budgets
- name: cash-flow
- name: chart-of-accounts
- name: chart-templates
- name: collections
- name: credit-memos
- name: custom-reports
- name: customer-invoices
- name: depreciation
- name: disposal
- name: edi-documents
- name: edi-mappings
- name: edi-profiles
- name: edi-submissions
- name: fiscal-periods
- name: fiscal-positions
- name: fiscal-years
- name: forecasting
- name: general-ledger
- name: income-statement
- name: invoices
- name: journal-entries
- name: journals
- name: line-items
- name: payment-methods
- name: payment-terms
- name: payments
- name: reconciliation
- name: reconciliations
- name: reports
- name: revaluation
- name: statements
- name: tax-calculation
- name: tax-repartition
- name: transactions
- name: trial-balance
- name: validation
- name: variance
- name: vendor-invoices
- name: vendors
- name: workflow
paths:
  /accounts-payable/approvals:
    get:
      operationId: list_approvals
      summary: List approvals
      description: List all approval records with filtering by invoice, approver, and status.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: invoice_id
        in: query
        schema:
          type: string
          format: uuid
      - name: approver_id
        in: query
        schema:
          type: string
          format: uuid
      - name: action
        in: query
        schema:
          type: string
          enum:
          - APPROVE
          - REJECT
          - REQUEST_INFO
          - DELEGATE
      responses:
        '200':
          description: Paginated list of approval records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaginatedApprovals'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/approvals
      x-brrtrouter-impl: false
    post:
      operationId: create_approval
      summary: Submit approval action
      description: Approve, reject, or request more information on an invoice as part of the approval workflow.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableCreateApprovalRequest'
            example:
              invoice_id: 1000.0
              action: sample value
              notes: Approved by CFO on 2026-01-15
      responses:
        '201':
          description: ApprovalRecord created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableApprovalRecord'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '403':
          description: Forbidden - user not authorized to approve this invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: &id001
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '409':
          description: Conflict — resource already exists or violates business rules
          content: &id002
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/approvals
  /accounts-payable/commitments:
    get:
      operationId: list_payment_commitments
      summary: List payment commitments
      description: List all payment commitments (approved invoices awaiting payment) with filtering by vendor and due date.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: vendor_id
        in: query
        schema:
          type: string
          format: uuid
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: due_before
        in: query
        schema:
          type: string
          format: date
        description: Due before this date
      - name: due_after
        in: query
        schema:
          type: string
          format: date
        description: Due after this date
      responses:
        '200':
          description: Paginated list of payment commitments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaginatedCommitments'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/commitments
      x-brrtrouter-impl: false
  /accounts-payable/payment-batches:
    get:
      operationId: list_payment_batches
      summary: List payment batches
      responses:
        '200':
          description: Payment batches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaginatedPaymentBatches'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payment-batches
      x-brrtrouter-impl: false
    post:
      operationId: create_payment_batch
      summary: Create payment batch
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableCreatePaymentBatchRequest'
            example:
              company_id: 550e8400-e29b-41d4-a716-446655440000
              payment_method: 1000.0
              vendor_invoice_ids: &id038
              - 950e8400-e29b-41d4-a716-446655440004
              scheduled_payment_date: 1000.0
              currency_code: USD
      responses:
        '201':
          description: Payment batch created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaymentBatch'
        '400':
          description: Validation error
          content: &id003
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: &id004
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payment-batches
  /accounts-payable/payment-batches/{id}/approve:
    post:
      operationId: approve_payment_batch
      summary: Approve payment batch
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Payment batch approved
        '400':
          description: Validation error
          content: *id003
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payment-batches/{id}/approve
  /accounts-payable/payment-batches/{id}/export-payment-file:
    post:
      operationId: export_payment_batch_file
      summary: Export payment batch file
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableExportPaymentFileRequest'
            example:
              file_format: sample value
              requested_by: sample value
      responses:
        '202':
          description: Payment file generation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaymentFileExport'
        '400':
          description: Validation error
          content: *id003
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payment-batches/{id}/export-payment-file
  /accounts-payable/payments:
    get:
      operationId: list_vendor_payments
      summary: List payments
      description: Paginated list of all vendor payments with filtering by status, date range, and vendor.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: search
        in: query
        schema:
          type: string
        description: Search by reference number or vendor
      - name: status
        in: query
        schema:
          type: string
          enum:
          - SCHEDULED
          - PENDING
          - SENT
          - COMPLETED
          - FAILED
          - CANCELLED
      - name: payment_method
        in: query
        schema:
          type: string
          enum:
          - WIRE
          - CHECK
          - ACH
          - BANK_TRANSFER
          - PAYMENT_GATEWAY
          - COUNTER_SERVICE
      - name: vendor_id
        in: query
        schema:
          type: string
          format: uuid
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: date_from
        in: query
        schema:
          type: string
          format: date
        description: Payment date from
      - name: date_to
        in: query
        schema:
          type: string
          format: date
        description: Payment date to
      responses:
        '200':
          description: Paginated list of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaginatedVendorPayments'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payments
      x-brrtrouter-impl: false
    post:
      operationId: create_vendor_payment
      summary: Create payment
      description: Schedule a new vendor payment. Optionally auto-disburse if auto_disburse is true.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableCreateVendorPaymentRequest'
            example:
              reference_number: REF-2026-0001
              amount: 10000.0
              currency_code: USD
              payment_method: 1000.0
              payment_date: 1000.0
              vendor_id: 550e8400-e29b-41d4-a716-446655440000
              company_id: 550e8400-e29b-41d4-a716-446655440000
              notes: Approved by CFO on 2026-01-15
              auto_disburse: true
      responses:
        '201':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorPayment'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payments
  /accounts-payable/payments/{id}:
    get:
      operationId: get_vendor_payment
      summary: Get payment by id
      description: Retrieve payment details.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorPayment'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payments/{id}
    put:
      operationId: update_vendor_payment
      summary: Update payment
      description: Update a payment's details. Only scheduled or pending payments can be modified.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableUpdateVendorPaymentRequest'
            example:
              amount: 10000.0
              payment_method: 1000.0
              payment_date: 1000.0
              status: active
              notes: Approved by CFO on 2026-01-15
      responses:
        '200':
          description: Payment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorPayment'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '409':
          description: Cannot update completed or cancelled payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '400':
          description: Validation error
          content: *id003
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payments/{id}
    delete:
      operationId: delete_vendor_payment
      summary: Delete payment
      description: Delete a payment. Only scheduled or pending payments can be deleted.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Payment deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '409':
          description: Cannot delete completed payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/payments/{id}
  /accounts-payable/reports/cash-flow-forecast:
    get:
      operationId: cash_flow_forecast
      summary: Cash flow forecast
      description: Generate a cash flow forecast for the AP service showing upcoming payment commitments and scheduled payments.
      x-brrtrouter-impl: false
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by company
      - name: period_start
        in: query
        schema:
          type: string
          format: date
        description: Forecast start date
      - name: period_end
        in: query
        schema:
          type: string
          format: date
        description: Forecast end date
      - name: currency_code
        in: query
        schema:
          type: string
          minLength: 3
          maxLength: 3
        description: Currency for the forecast
      responses:
        '200':
          description: Cash flow forecast with daily breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableCashFlowForecast'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/reports/cash-flow-forecast
  /accounts-payable/vendor-invoices:
    get:
      operationId: list_vendor_invoices
      summary: List vendor invoices
      description: Paginated list of all vendor invoices with AP-specific fields including approval status and payment status.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: search
        in: query
        schema:
          type: string
        description: Search by vendor name, invoice number, or status
      - name: status
        in: query
        schema:
          type: string
          enum:
          - DRAFT
          - PENDING_APPROVAL
          - APPROVED
          - REJECTED
          - POSTED
      - name: approval_status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          - CANCELLED
      - name: payment_status
        in: query
        schema:
          type: string
          enum:
          - UNPAID
          - SCHEDULED
          - PARTIAL
          - PAID
          - DISPUTED
      - name: vendor_id
        in: query
        schema:
          type: string
          format: uuid
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: currency_code
        in: query
        schema:
          type: string
          minLength: 3
          maxLength: 3
      - name: date_from
        in: query
        schema:
          type: string
          format: date
        description: Invoice date from
      - name: date_to
        in: query
        schema:
          type: string
          format: date
        description: Invoice date to
      responses:
        '200':
          description: Paginated list of vendor invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayablePaginatedVendorInvoices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices
      x-brrtrouter-impl: false
    post:
      operationId: create_vendor_invoice
      summary: Create vendor invoice
      description: Create a new AP record for a vendor invoice. Links the invoice to the vendor and initializes the approval
        workflow.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableCreateVendorInvoiceRequest'
            example:
              invoice_id: 1000.0
              vendor_id: 550e8400-e29b-41d4-a716-446655440000
              invoice_number: INV-2026-0001
              invoice_date: 1000.0
              amount: 10000.0
              currency_code: USD
              tax_amount: 1000.0
              due_date: '2026-01-15'
              terms: sample value
              description: Primary operating company
              company_id: 550e8400-e29b-41d4-a716-446655440000
              line_items: &id039 []
              auto_approve: true
      responses:
        '201':
          description: VendorInvoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorInvoice'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices
  /accounts-payable/vendor-invoices/{id}:
    get:
      operationId: get_vendor_invoice
      summary: Get vendor invoice by id
      description: Retrieve a single vendor invoice with its full AP details including approval history and payment status.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: VendorInvoice details with AP context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorInvoiceWithDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices/{id}
    put:
      operationId: update_vendor_invoice
      summary: Update vendor invoice
      description: Update an AP record's details. Does not modify the base invoice - use the Invoice service for that.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableUpdateVendorInvoiceRequest'
            example:
              status: active
              approval_status: pending
              payment_status: pending
              amount: 10000.0
              tax_amount: 1000.0
              due_date: '2026-01-15'
              terms: sample value
              description: Primary operating company
      responses:
        '200':
          description: VendorInvoice updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorInvoice'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '400':
          description: Validation error
          content: *id003
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices/{id}
    delete:
      operationId: delete_vendor_invoice
      summary: Delete vendor invoice
      description: Delete a vendor invoice record. Only allowed for invoices in DRAFT status.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: VendorInvoice deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
        '409':
          description: Cannot delete approved or posted invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableErrorResponse'
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices/{id}
  /accounts-payable/vendor-invoices/{id}/register-payment:
    post:
      operationId: register_vendor_invoice_payment
      summary: Register vendor invoice payment
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableRegisterVendorInvoicePaymentRequest'
            example:
              amount: 10000.0
              currency_code: USD
              payment_method: 1000.0
              payment_date: 1000.0
              reference_number: REF-2026-0001
      responses:
        '201':
          description: Vendor payment registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableVendorPayment'
        '400':
          description: Validation error
          content: *id003
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices/{id}/register-payment
  /accounts-payable/vendor-invoices/{id}/three-way-match:
    post:
      operationId: perform_vendor_invoice_three_way_match
      summary: Perform three-way match for vendor invoice
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsPayableThreeWayMatchRequest'
            example:
              purchase_order_id: 550e8400-e29b-41d4-a716-446655440000
              receipt_ids: 550e8400-e29b-41d4-a716-446655440000
              tolerance_amount: 1000.0
              tolerance_percent: 1000.0
      responses:
        '200':
          description: Three-way match result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPayableThreeWayMatchResult'
        '400':
          description: Validation error
          content: *id003
        '401':
          description: Unauthorized — invalid or expired token
          content: *id001
        '403':
          description: Forbidden — insufficient permissions
          content: *id004
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id002
      x-service: accounts-payable
      x-service-base-path: /api/accounts-payable
      x-brrtrouter-downstream-path: /api/accounts-payable/vendor-invoices/{id}/three-way-match
  /accounts-receivable/ar-agings:
    get:
      operationId: list_ar_agings
      summary: List AR aging records
      description: List all AR aging analysis records, optionally filtered by customer or company.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paginated list of AR aging records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedArAgings'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/ar-agings
      x-brrtrouter-impl: false
    post:
      operationId: create_ar_aging
      summary: Create AR aging record
      description: Create a new AR aging record for analysis. Usually auto-generated by scheduled jobs.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateArAgingRequest'
            example:
              customer_id: 650e8400-e29b-41d4-a716-446655440001
              company_id: 550e8400-e29b-41d4-a716-446655440000
              as_of_date: '2026-01-15'
      responses:
        '201':
          description: ArAging created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableArAging'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: &id005
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden — insufficient permissions
          content: &id006
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '409':
          description: Conflict — resource already exists or violates business rules
          content: &id007
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/ar-agings
  /accounts-receivable/ar-agings/{id}:
    get:
      operationId: get_ar_aging
      summary: Get AR aging record by id
      description: Get a specific AR aging record with detailed bucket breakdown.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ArAging details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableArAging'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/ar-agings/{id}
      x-brrtrouter-impl: false
  /accounts-receivable/collection-cases:
    get:
      operationId: list_collection_cases
      summary: List collection cases
      responses:
        '200':
          description: Collection cases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedCollectionCases'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/collection-cases
      x-brrtrouter-impl: false
    post:
      operationId: create_collection_case
      summary: Create collection case
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateCollectionCaseRequest'
            example:
              customer_id: 650e8400-e29b-41d4-a716-446655440001
              invoice_ids: 1000.0
              assigned_to: sample value
      responses:
        '201':
          description: Collection case created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableCollectionCase'
        '400':
          description: Validation error
          content: &id008
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/collection-cases
  /accounts-receivable/collections:
    get:
      operationId: list_collection_activities
      summary: List collection activities
      description: Paginated list of all collection activities with filtering by customer, type, and follow-up status.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
      - name: activity_type
        in: query
        schema:
          type: string
          enum:
          - PHONE
          - EMAIL
          - LETTER
          - VISIT
          - REMINDER
          - DUNNING
          - DISPUTE
          - PAYMENT_PLAN
      - name: assigned_to
        in: query
        schema:
          type: string
          format: uuid
      - name: due_before
        in: query
        schema:
          type: string
          format: date
        description: Follow-up due before this date
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paginated list of collection activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedCollections'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/collections
      x-brrtrouter-impl: false
    post:
      operationId: create_collection_activity
      summary: Create collection activity
      description: Record a new collection activity (call, email, letter, etc.) against a customer invoice.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateCollectionActivityRequest'
            example:
              customer_invoice_id: 1000.0
              activity_type: standard
              date: '2026-01-15'
              notes: Approved by CFO on 2026-01-15
              next_follow_up_date: '2026-01-15'
              assigned_to: sample value
              company_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '201':
          description: CollectionActivity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableCollectionActivity'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/collections
  /accounts-receivable/credit-memos:
    get:
      operationId: list_credit_memos
      summary: List credit memos
      description: Paginated list of all credit memos with filtering by customer, reason, and status.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
      - name: reason
        in: query
        schema:
          type: string
          enum:
          - RETURN
          - OVERCHARGE
          - DAMAGE
          - DISCOUNT
          - DISPUTE
          - ADJUSTMENT
          - OTHER
      - name: status
        in: query
        schema:
          type: string
          enum:
          - DRAFT
          - APPLIED
          - AVAILABLE
      responses:
        '200':
          description: Paginated list of credit memos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedCreditMemos'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/credit-memos
      x-brrtrouter-impl: false
    post:
      operationId: create_credit_memo
      summary: Create credit memo
      description: Create a new credit memo for returns, adjustments, or dispute settlements.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateCreditMemoRequest'
            example:
              reference_id: REF-2026-0001
              customer_invoice_id: 1000.0
              amount: 10000.0
              currency_code: USD
              reason: Reclassification of asset category
              description: Primary operating company
              company_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '201':
          description: CreditMemo created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableCreditMemo'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/credit-memos
  /accounts-receivable/customer-invoices:
    get:
      operationId: list_customer_invoices
      summary: List customer invoices
      description: Paginated list of all customer invoices with AR-specific fields including aging bucket and outstanding
        amounts.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: search
        in: query
        schema:
          type: string
        description: Search by customer name, invoice reference, or status
      - name: status
        in: query
        schema:
          type: string
          enum:
          - DRAFT
          - CONFIRMED
          - PARTIAL
          - PAID
          - WRITTEN_OFF
          - DISPUTED
      - name: aging_bucket
        in: query
        schema:
          type: string
          enum:
          - CURRENT
          - 1-30
          - 31-60
          - 61-90
          - 90+
          - INVALID
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: currency_code
        in: query
        schema:
          type: string
          minLength: 3
          maxLength: 3
      - name: days_overdue_min
        in: query
        schema:
          type: integer
        description: Minimum days overdue filter
      - name: days_overdue_max
        in: query
        schema:
          type: integer
        description: Maximum days overdue filter
      responses:
        '200':
          description: Paginated list of customer invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedCustomerInvoices'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/customer-invoices
      x-brrtrouter-impl: false
    post:
      operationId: create_customer_invoice
      summary: Create customer invoice
      description: Create a new AR record for an invoice. Links the invoice to the customer and initializes the outstanding
        amount tracking.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateCustomerInvoiceRequest'
            example:
              invoice_id: 1000.0
              customer_id: 650e8400-e29b-41d4-a716-446655440001
              currency_code: USD
              due_date: '2026-01-15'
              terms: sample value
              credit_limit_check: true
              company_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '201':
          description: CustomerInvoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableCustomerInvoice'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '409':
          description: Credit limit exceeded for customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/customer-invoices
  /accounts-receivable/customer-invoices/{id}:
    get:
      operationId: get_customer_invoice
      summary: Get customer invoice by id
      description: Retrieve a single customer invoice with its full AR details including aging, payment history, and credit
        memo history.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: CustomerInvoice details with AR context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableCustomerInvoiceWithDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/customer-invoices/{id}
    put:
      operationId: update_customer_invoice
      summary: Update customer invoice
      description: Update an AR record's status or aging bucket. Does not modify the base invoice.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableUpdateCustomerInvoiceRequest'
            example:
              status: active
              aging_bucket: sample value
              due_date: '2026-01-15'
              terms: sample value
              credit_limit_check: true
      responses:
        '200':
          description: CustomerInvoice updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableCustomerInvoice'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/customer-invoices/{id}
    delete:
      operationId: delete_customer_invoice
      summary: Delete customer invoice
      description: Delete a customer invoice record. Only allowed for invoices in DRAFT status.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: CustomerInvoice deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '409':
          description: Cannot delete confirmed or paid invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/customer-invoices/{id}
  /accounts-receivable/customer-statements/send:
    post:
      operationId: send_customer_statements
      summary: Send customer statements
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableSendCustomerStatementsRequest'
            example:
              customer_ids: 550e8400-e29b-41d4-a716-446655440000
              statement_date: 1000.0
              delivery_method: bank_transfer
      responses:
        '202':
          description: Customer statement job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableStatementSendJob'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/customer-statements/send
  /accounts-receivable/follow-up-levels:
    get:
      operationId: list_follow_up_levels
      summary: List customer follow-up levels
      responses:
        '200':
          description: Follow-up levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedFollowUpLevels'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/follow-up-levels
      x-brrtrouter-impl: false
    post:
      operationId: create_follow_up_level
      summary: Create customer follow-up level
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateFollowUpLevelRequest'
            example:
              name: Acme Corporation
              sequence: 1
              days_overdue: 0
              action_type: standard
              active: true
      responses:
        '201':
          description: Follow-up level created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableFollowUpLevel'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/follow-up-levels
  /accounts-receivable/follow-up-runs:
    post:
      operationId: create_follow_up_run
      summary: Create customer follow-up run
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreateFollowUpRunRequest'
            example:
              company_id: 550e8400-e29b-41d4-a716-446655440000
              as_of_date: '2026-01-15'
              dry_run: true
      responses:
        '202':
          description: Follow-up run accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableFollowUpRun'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/follow-up-runs
  /accounts-receivable/payment-promises:
    post:
      operationId: create_payment_promise
      summary: Create promise to pay
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreatePaymentPromiseRequest'
            example:
              customer_id: 650e8400-e29b-41d4-a716-446655440001
              invoice_ids: 1000.0
              promised_amount: 1000.0
              promised_date: '2026-01-15'
      responses:
        '201':
          description: Payment promise created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaymentPromise'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payment-promises
  /accounts-receivable/payments:
    get:
      operationId: list_customer_payments
      summary: List payments
      description: Paginated list of all customer payments with filtering by status, date range, customer, and payment method.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: search
        in: query
        schema:
          type: string
        description: Search by reference number or customer
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - APPLIED
          - APPLIED_PARTIAL
          - REFUNDED
          - FAILED
      - name: payment_method
        in: query
        schema:
          type: string
          enum:
          - WIRE
          - CHECK
          - CREDIT_CARD
          - ACH
          - CASH
          - BANK_TRANSFER
          - PAYMENT_GATEWAY
          - COUNTER_SERVICE
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: date_from
        in: query
        schema:
          type: string
          format: date
        description: Payment date from (inclusive)
      - name: date_to
        in: query
        schema:
          type: string
          format: date
        description: Payment date to (inclusive)
      responses:
        '200':
          description: Paginated list of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaginatedPayments'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments
      x-brrtrouter-impl: false
    post:
      operationId: create_customer_payment
      summary: Create payment
      description: Record a new customer payment. Optionally auto-apply to oldest outstanding invoices if auto_apply is true.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreatePaymentRequest'
            example:
              reference_number: REF-2026-0001
              amount: 10000.0
              currency_code: USD
              payment_method: 1000.0
              payment_date: 1000.0
              customer_id: 650e8400-e29b-41d4-a716-446655440001
              company_id: 550e8400-e29b-41d4-a716-446655440000
              notes: Approved by CFO on 2026-01-15
              auto_apply: true
      responses:
        '201':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePayment'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments
  /accounts-receivable/payments/applications:
    post:
      operationId: create_payment_application
      summary: Apply payment to invoice
      description: Apply an amount from a payment to a specific customer invoice. Supports partial applications.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableCreatePaymentApplicationRequest'
            example:
              payment_id: 1000.0
              customer_invoice_id: 1000.0
              applied_amount: 1000.0
      responses:
        '201':
          description: Payment application created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaymentApplication'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '404':
          description: Payment or invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '409':
          description: Payment or invoice is in invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments/applications
  /accounts-receivable/payments/{id}:
    get:
      operationId: get_customer_payment
      summary: Get payment by id
      description: Retrieve payment details with full application history.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Payment details with applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePayment'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments/{id}
    put:
      operationId: update_customer_payment
      summary: Update payment
      description: Update a payment's details. Only pending or partially applied payments can be modified.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsReceivableUpdatePaymentRequest'
            example:
              amount: 10000.0
              payment_method: 1000.0
              payment_date: 1000.0
              status: active
              notes: Approved by CFO on 2026-01-15
      responses:
        '200':
          description: Payment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePayment'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '409':
          description: Cannot update fully applied or refunded payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments/{id}
    delete:
      operationId: delete_customer_payment
      summary: Delete payment
      description: Delete a payment. Only pending payments can be deleted. Applied payments must be voided instead.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Payment deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '409':
          description: Cannot delete applied payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments/{id}
  /accounts-receivable/payments/{id}/applications:
    get:
      operationId: list_payment_applications
      summary: List payment applications
      description: Get all payment applications for a specific payment.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: List of payment applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountsReceivablePaymentApplication'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments/{id}/applications
  /accounts-receivable/payments/{id}/auto-apply:
    post:
      operationId: auto_apply_payment
      summary: Auto-apply payment
      description: Automatically apply a payment to the oldest outstanding customer invoices.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Auto-apply results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivablePaymentApplicationResult'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '400':
          description: Validation error
          content: *id008
        '401':
          description: Unauthorized — invalid or expired token
          content: *id005
        '403':
          description: Forbidden — insufficient permissions
          content: *id006
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id007
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/payments/{id}/auto-apply
  /accounts-receivable/reports/aging-summary:
    get:
      operationId: aging_summary
      summary: Aging summary report
      description: Generate a company-wide or customer-specific AR aging summary with DSO and collection efficiency metrics.
      x-brrtrouter-impl: false
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by company
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by customer
      - name: as_of_date
        in: query
        schema:
          type: string
          format: date
        description: Date for aging calculation. Defaults to today.
      responses:
        '200':
          description: Aging summary with metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableAgingSummary'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/reports/aging-summary
  /accounts-receivable/reports/collections-summary:
    get:
      operationId: collections_summary
      summary: Collections summary report
      description: Generate a summary of all collection activities for a period.
      x-brrtrouter-impl: false
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: date_from
        in: query
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Collections summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_activities:
                    type: integer
                  by_type:
                    type: object
                  response_rate:
                    type: number
                  upcoming_follow_ups:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsReceivableErrorResponse'
      x-service: accounts-receivable
      x-service-base-path: /api/accounts-receivable
      x-brrtrouter-downstream-path: /api/accounts-receivable/reports/collections-summary
  /asset/asset-models:
    get:
      operationId: list_asset_models
      summary: List asset models
      responses:
        '200':
          description: Asset models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPaginatedAssetModels'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/asset-models
      x-brrtrouter-impl: false
    post:
      operationId: create_asset_model
      summary: Create asset model
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateAssetModelRequest'
            example:
              name: Acme Corporation
              depreciation_method: straight_line
              useful_life_months: 60
              residual_value_percent: 1000.0
      responses:
        '201':
          description: Asset model created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAssetModel'
        '400':
          description: Validation error
          content: &id012
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: &id009
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '403':
          description: Forbidden — insufficient permissions
          content: &id010
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '409':
          description: Conflict — resource already exists or violates business rules
          content: &id011
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/asset-models
  /asset/assets:
    get:
      operationId: list_assets
      summary: List assets
      description: Paginated list of all fixed assets with filtering by category, status, location, department, and useful
        life range.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: search
        in: query
        schema:
          type: string
        description: Search by asset number, name, or serial number
      - name: category_id
        in: query
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        schema:
          type: string
          enum:
          - ACTIVE
          - DEPRECIATING
          - FULLY_DEPRECIATED
          - DISPOSED
          - SCRAPPED
          - IN_REPAIR
          - TRANSIT
      - name: department_id
        in: query
        schema:
          type: string
          format: uuid
      - name: custodian_id
        in: query
        schema:
          type: string
          format: uuid
      - name: location
        in: query
        schema:
          type: string
        description: Filter by location name
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: nbv_min
        in: query
        schema:
          type: number
          format: double
        description: Minimum net book value
      - name: nbv_max
        in: query
        schema:
          type: number
          format: double
        description: Maximum net book value
      responses:
        '200':
          description: Paginated list of assets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPaginatedAssets'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets
      x-brrtrouter-impl: false
    post:
      operationId: create_asset
      summary: Create asset
      description: Create a new fixed asset with automatic depreciation schedule generation.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateAssetRequest'
            example:
              asset_number: AST-2024-001
              name: Acme Corporation
              description: Primary operating company
              acquisition_cost: 50000.0
              currency_code: USD
              acquisition_date: '2024-01-15'
              location: Building A, Floor 3
              department_id: 650e8400-e29b-41d4-a716-446655440001
              custodian_id: 750e8400-e29b-41d4-a716-446655440002
              useful_life_months: 60
              depreciation_method: straight_line
              company_id: 550e8400-e29b-41d4-a716-446655440000
              supplier_id: 650e8400-e29b-41d4-a716-446655440001
              serial_number: SN-2026-0001
              warranty_expiry: '2031-01-01'
              acquisition_gl_entry_id: 550e8400-e29b-41d4-a716-446655440000
              notes: Approved by CFO on 2026-01-15
              auto_depreciate: true
      responses:
        '201':
          description: Asset created with depreciation schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAssetWithDetails'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets
  /asset/assets/bulk-depreciate:
    post:
      operationId: bulk_depreciate
      summary: Run depreciation for all assets
      description: Run depreciation for all active assets for a given period. Used for month-end/year-end close.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - period
              properties:
                period:
                  type: string
                  format: date
                post_to_gl:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Bulk depreciation results with count of entries created
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_entries:
                    type: integer
                  total_depreciation:
                    type: number
                  assets_processed:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/bulk-depreciate
  /asset/assets/{id}:
    get:
      operationId: get_asset
      summary: Get asset by id
      description: Retrieve a single asset with full details including depreciation schedule and revaluation history.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Asset details with depreciation schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAssetWithDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}
    put:
      operationId: update_asset
      summary: Update asset
      description: Update an asset's details. Does not allow modification of acquisition cost or date after depreciation starts.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUpdateAssetRequest'
            example:
              name: Acme Corporation
              description: Primary operating company
              location: Building A, Floor 3
              department_id: 650e8400-e29b-41d4-a716-446655440001
              custodian_id: 750e8400-e29b-41d4-a716-446655440002
              status: active
              notes: Approved by CFO on 2026-01-15
      responses:
        '200':
          description: Asset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAsset'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '409':
          description: Cannot update depreciation-related fields after depreciation starts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '400':
          description: Validation error
          content: *id012
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}
    delete:
      operationId: delete_asset
      summary: Delete asset
      description: Delete an asset. Only allowed for assets in ACTIVE status with no depreciation entries.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Asset deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '409':
          description: Cannot delete asset with depreciation entries or non-active status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}
  /asset/assets/{id}/depreciate:
    post:
      operationId: run_depreciation
      summary: Run depreciation for asset
      description: Run depreciation calculation for an asset for a specific period.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateDepreciationEntryRequest'
            example:
              schedule_id: 550e8400-e29b-41d4-a716-446655440000
              period: 2026-01
              depreciation_amount: 1000.0
              post_to_gl: true
      responses:
        '201':
          description: Depreciation entry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDepreciationEntry'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '409':
          description: Asset is not in an active depreciation state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '400':
          description: Validation error
          content: *id012
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}/depreciate
  /asset/assets/{id}/depreciation:
    get:
      operationId: list_depreciation_entries
      summary: List depreciation entries
      description: Get all depreciation entries for an asset.
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: List of depreciation entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPaginatedDepreciationEntries'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}/depreciation
  /asset/assets/{id}/modify:
    post:
      operationId: modify_asset
      summary: Modify asset accounting values
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetModifyAssetRequest'
            example:
              effective_date: '2026-01-15'
              reason: Reclassification of asset category
              new_useful_life_months: 1
              new_residual_value: 1000.0
              value_adjustment: 1000.0
      responses:
        '200':
          description: Asset modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAsset'
        '400':
          description: Validation error
          content: *id012
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}/modify
  /asset/assets/{id}/pause-depreciation:
    post:
      operationId: pause_asset_depreciation
      summary: Pause asset depreciation
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Asset depreciation paused
        '400':
          description: Validation error
          content: *id012
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}/pause-depreciation
  /asset/assets/{id}/resume-depreciation:
    post:
      operationId: resume_asset_depreciation
      summary: Resume asset depreciation
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Asset depreciation resumed
        '400':
          description: Validation error
          content: *id012
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}/resume-depreciation
  /asset/assets/{id}/validate:
    post:
      operationId: validate_asset
      summary: Validate asset
      x-brrtrouter-impl: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Asset validated
        '400':
          description: Validation error
          content: *id012
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/assets/{id}/validate
  /asset/categories:
    get:
      operationId: list_asset_categories
      summary: List asset categories
      description: List all asset categories with hierarchical support.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paginated list of categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPaginatedAssetCategories'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/categories
      x-brrtrouter-impl: false
    post:
      operationId: create_asset_category
      summary: Create asset category
      description: Create a new asset category with default depreciation settings.
      x-brrtrouter-impl: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateAssetCategoryRequest'
            example:
              name: Acme Corporation
              description: Primary operating company
              default_depreciation_method: true
              default_useful_life_months: true
              gl_account_debit: GL-DEBIT-2026
              gl_account_credit: GL-CREDIT-2026
              parent_category_id: 650e8400-e29b-41d4-a716-446655440031
              company_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAssetCategory'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetErrorResponse'
        '401':
          description: Unauthorized — invalid or expired token
          content: *id009
        '403':
          description: Forbidden — insufficient permissions
          content: *id010
        '409':
          description: Conflict — resource already exists or violates business rules
          content: *id011
      x-service: asset
      x-service-base-path: /api/asset
      x-brrtrouter-downstream-path: /api/asset/categories
  /asset/disposals:
    get:
      operationId: list_disposals
      summary: List disposals
      description: List all asset disposals with filtering by type, date range, and asset.
      x-brrtrouter-impl: false
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: asset_id
        in: query
        schema:
          type: string
          format: uuid
      - name: disposal_type
        in: query
        schema:
          type: string
          enum:
          - SALE
          - SCRAP
          - DONATION
          - TRANSFER
          - WRITE_OFF
          - THEFT
      - name: company_id
        in: query
        schema:
          type: string
          format: uuid
      - name: date_from
        in: query
        schema:
          type: string
          format: date
        description: Disposal date from
      - name: date_to
        in: query
        schema:
          type: string
          format: date
        description: Disposal date to
      responses:
        '200':
          description: Paginated list of disposals
          content:
            application/json:
              schema:
[...]
